name: test
on: push

jobs:
  test:
    name: run tests
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v1
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2.5.1
      - uses: actions/setup-python@v2
      - uses: actions/setup-go@v2
        with:
          go-version: "1.20.1"
      - uses: goreleaser/goreleaser-action@v2
        with:
          install-only: true
          version: latest
      - uses: pre-commit/action@v3.0.0
      - name: Run Go tests
        run: make test
